*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    font-size: 20px;
}

.header{
    padding: 0 4.8rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.header .logo{
    height: 3rem;
    width: 160px;
}

.navbar_list{
    display: flex;
    gap: 3.8rem;
    list-style: none;
    
    /* justify-content: space-around; */
}

.navbar_list,li,a{
    text-decoration: none;
}
.contact_btn{
    padding: 13px;
    width: 150px;
    background-color: black;
    color: white;
    font-weight: bold;
}

/* Main */
.section1{
    background-image: url("Logo/img3.png") ;
    background-repeat: no-repeat;
    height: 450px;

}
.div1{ 
    padding-top: 200px;
    padding-left: 150px;
}

.div2{
    height: 150px;
    background-color: blue;
    padding-top: 39px;
    padding-left: 45%;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 650px;
    background-color: blueviolet;
}

/* Section3 subsection */

.sec3_div3,img{
    height: 450px;
    width: 450px;
}

.container2{
    display: flex;
}

.btn{
    padding: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 150px;
    border-radius: 25px;
    border: 0px;
}

.our_servies{
    height: 150px;
    background-color: bisque;
    padding-top: 40px;
    text-align: center;
}



.container3{
    display: flex;
    justify-content: center;
   

}

.con3_sub{
    height: 180px;
    width: 300px;
    margin: 20px;
}

.map{
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 380px;
    padding-top: 35px;
}

.map_list{
    list-style: none;
}

.map_list,li{
    padding: 10px;
}

.map_logo{
    height: 80px;
    width: 180px;
}

/* footer  */
.End_foter{
    height: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 45px;
}




@media (max-width:700px){

    
    html{
        font-size: 15px;
    }
    
    .header{
        padding: 0 1rem;
        height: 5rem;
    }
    
    .header .logo{
        height: 3rem;
        width: 5rem;
    }
    
    .navbar{
        overflow: auto;
    }

    .navbar_list{
        gap: 10px;
    }


    /* Main */

    .section1{
        background-size: 100% 50%;
        height: 350px;
    }
    .div1{ 
        padding-left: 30px;
        text-align: center;
    }

.div2{
    padding-top: 45px;
    padding-left: 35%;
}

/* Skill_container */

.section3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 1600px;
}

.sec3_div3,img{
    /* object-fit: contain; */
    
     width: 90%;
     margin-left: 4%;
}


.container3{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.con3_sub{
    height: 150px;
    width: 300px;
    margin: 20px;
}

.map{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 1000px;
}

}