*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    font-size: 20px;
}

.header{
    padding: 0 4.8rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.header .logo{
    height: 3rem;
    width: 160px;
}

.navbar_list{
    display: flex;
    gap: 3.8rem;
    list-style: none;
    
    /* justify-content: space-around; */
}

.navbar_list,li,a{
    text-decoration: none;
}
.contact_btn{
    padding: 13px;
    width: 150px;
    background-color: black;
    color: white;
    font-weight: bold;
}

/* Main */
.section1{
    background-image: url("Logo/img3.png") ;
    background-repeat: no-repeat;
    height: 450px;

}
.div1{ 
    padding-top: 200px;
    padding-left: 150px;
}

.div2{
    height: 150px;
    background-color: blue;
    padding-top: 39px;
    padding-left: 45%;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 650px;
    background-color: blueviolet;
}

/* Section3 subsection */

.sec3_div3,img{
    height: 450px;
    width: 450px;
}

.container2{
    display: flex;
}

.btn{
    padding: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 150px;
    border-radius: 25px;
}

.our_servies{
    height: 150px;
    background-color: bisque;
    padding-top: 40px;
    text-align: center;
}



.container3{
    display: flex;
    justify-content: center;
   

}

.con3_sub{
    height: 180px;
    width: 300px;
    margin: 20px;
}

.map{
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 380px;
    padding-top: 35px;
}

.map_list{
    list-style: none;
}

.map_list,li{
    padding: 10px;
}

.map_logo{
    height: 80px;
    width: 180px;
}

/* footer  */
.End_foter{
    height: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 45px;
}




@media (max-width:700px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    html{
        font-size: 15px;
    }
    
    .header{
        padding: 0 1rem;
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aquamarine;
    }
    
    .header .logo{
        height: 3rem;
        width: 5rem;
    }
    
    .navbar_list{
        display: flex;
        gap: 10px;
        list-style: none;
        overflow: auto;
    }

    .navbar_list,li,a{
        text-decoration: none;
        color: black;
    }

    /* Main */

    .section1{
        background-image: url("Logo/img3.png");
        background-size: 100% 100%;
        height: 450px;
        width: 100%;
    
    }
    .div1{ 
        padding-top: 200px;
        padding-left: 150px;
    }

.div2{
    height: 150px;
    background-color: blue;
    padding-top: 45px;
    padding-left: 35%;
}

/* Skill_container */

.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 1600px;
    background-color: blueviolet;
}

.btn{
    padding: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 150px;
    border-radius: 25px;
}

.our_servies{
    height: 150px;
    background-color: bisque;
    padding-top: 40px;
    text-align: center;
}

.container3{
    display: flex;
    justify-content: center;
    flex-direction: column;
   

}

.con3_sub{
    height: 150px;
    width: 300px;
    margin: 20px;
}

.map{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    height: 1000px;
    padding-top: 35px;
}

.map_list{
    list-style: none;
}

.map_list,li{
    padding: 10px;
}

.map_logo{
    height: 80px;
    width: 180px;
}

.End_foter{
    height: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 45px;
}

}