* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    padding: 0 4.8rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 206, 236);
}

.header .logo {
    height: 3rem;
    width: 160px;
}

.navbar {
    overflow: auto;
}

.navbar_list {
    display: flex;
    gap: 3.8rem;
    list-style: none;
}

.navbar_list,
li,
a {
    text-decoration: none;
    color: black;
}

/* NavbarEnd */

/* Main */
.section1 {
    background-image: url("Logo/img3.png");
    background-repeat: no-repeat;
    height: 450px;
}

.section2 {
    display: flex;
    height: 500px;
    gap: 4rem;
    justify-content: center;
}

.sec2_div1_sub {
    color: #990000;
    font-size: 40px;
    font-weight: 600px;
    font-family: sans-serif;
}

.section3 {
    height: 450px;
}

.sec3_div1 {
    display: flex;
    justify-content: center;
}

.sec3_div1_sub {
    height: 200px;
    width: 250px;
    margin: 15px;
    text-align: center;
}

.horizontal_bar {
    height: 35px;
    background-color: blueviolet;
}

.TECH_STA {
    display: flex;
    color: #990000;
    font-size: 40px;
    font-weight: 600px;
    font-family: sans-serif;
    height: 90px;
    align-items: center;
    justify-content: center;
}

.unorder_div {
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 350px;
    background-color: blueviolet;
}

.unorder_div2 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 300px;
    background-color: blueviolet;
}

.un_div1 {
    padding-top: 50px;
    width: 320px;
}

.underline {
    background-color: #990000;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
    border: 4px white solid;
    border-radius: 12px;
}

.underline,
li {
    color: white;
    font-weight: bold;
}

.underline li::marker {
    font-size: 2rem;
    color: white;
}

.hr_line {
    border: 2px solid white;
}


/* Footer */
.map {
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 380px;
    padding-top: 35px;
    background-color: rgb(255, 206, 236);
}

.map_list {
    list-style: none;
}

.map_list .map_li {
    padding: 10px;
    color: rgb(63, 62, 62);

}

.map_logo {
    height: 80px;
    width: 180px;
}

.End_foter {
    height: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 45px;
}




@media (max-width:700px) {
    .header {
        padding: 0 2rem;
        height: 5rem;
    }

    .header .logo {
        height: 3rem;
        width: 4rem;
    }

    .navbar_list {
        gap: 5x;
    }

    .navbar_list,
    li,
    a {
        font-size: small;
    }

    /* NavbarEnd */


    /* Main */
    .section1 {
        background-size: 100% 50%;
        height: 350px;
    }

    .section2 {
        flex-direction: column;


    }

    .sec2_div1 {

        text-align: center;
    }

    .grp_dis {
        width: 80%;
    }

    .section3 {
        height: 1250px;
        padding-top: 185px;
    }

    .sec3_div1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec3_div1_sub {
        height: 150px;
        width: 250px;

    }

    .TECH_STA {
        display: flex;
        color: #990000;
        font-size: 20px;
        font-weight: 600px;
        font-family: sans-serif;
        height: 90px;
        align-items: center;
        justify-content: center;
    }

    .sec2_div1_sub {
        font-size: 25px;
    }

    .unorder_div {
        flex-direction: column;
        gap: 1rem;
        height: 1250px;
        align-items: center;
    }

    .unorder_div2 {
        flex-direction: column;
        gap: 1rem;
        height: 600px;
        align-items: center;
        padding-top: 50px;
    }

    /* Footer */
    .map {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 1000px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
    .header {
        padding: 0 6rem;
        height: 5rem;
    }

    .header .logo {
        height: 3rem;
        width: 5rem;
    }

    .navbar_list {
        gap: 10px;
    }

    /* Main */

    .section1 {
        background-size: 100% 50%;
        height: 380px;
    }

    .div1 {
        padding-left: 30px;
        text-align: center;
    }

    .section2 {
        flex-direction: column;
    }

    .sec2_div1 {
        text-align: center;
    }

    .section3 {
        height: 1550px;
        padding-top: 185px;
    }

    .sec3_div1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unorder_div {
        flex-direction: column;
        gap: 1rem;
        height: 1250px;
        align-items: center;
    }

    .unorder_div2 {
        flex-direction: column;
        gap: 1rem;
        height: 600px;
        align-items: center;
        padding-top: 50px;
    }

    .map {
        height: 1200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}